
@font-face {
  font-family: 'NoticiaText-Regular';
  src: url('../fonts/NoticiaText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NoticiaText-Regular.woff') format('woff'),
    url('../fonts/NoticiaText-Regular.ttf')  format('truetype'),
    url('../fonts/NoticiaText-Regular.svg#NoticiaText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NoticiaText-Bold';
  src: url('../fonts/NoticiaText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NoticiaText-Bold.woff') format('woff'),
    url('../fonts/NoticiaText-Bold.ttf')  format('truetype'),
    url('../fonts/NoticiaText-Bold.svg#NoticiaText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}