#home {
    #header {
        height: 100vh;
        padding-top: 25px;

        .logo {
            position: relative;
            text-align: center;
            top: 60px;
        }

        .text-ppal {
            .text {
                margin-top: 126px;
            }
        }
    }
}
